extends layout
block content
    .table-responsive
        table.table.table-hover
            thead
                tr
                    th Movie name
                    th Released Year
                    th IMDB Link
                    th ID
                    th
                    th
            each movie in movies
                tr
                    td #{movie.title}
                    td #{movie.year} 
                    td: a(href='http://www.imdb.com/title/'+ movie.imdb) #{movie.imdb}
                    td #{movie._id}
                    td: span.glyphicon.glyphicon-remove(data-id= movie._id, data-class='delete')
                    td: span.glyphicon.glyphicon-pencil(data-id= movie._id, data-class='edit')
                        
    